*{ margin: 0;
    padding: 0;
    box-sizing:border-box;
 
 
}
.navbar{
   display: flex;
   justify-content: space-between;
}
.marlogo{
   margin: 0.8rem;
    float:left;
    max-height: 60vh;
    max-width:15%;
     position: relative;
}
  .nav_menu ul {
    
    padding: 0;
   margin:0;
    text-align: center;
    display:flex;
        list-style-type: none;
    
  }
  .nav_menu ul li{
    margin:1rem;
    font-weight: 500;
    
  }
  .text{
    color:whitesmoke;
    font-size:25px;
  }
  .strt1{
   font-family:Arial, Helvetica, sans-serif;
   position:absolute;
   top:61%;
   left:41%;
   font-size:6vh;
 }
 .strt2{
   font-family:Arial, Helvetica, sans-serif;
   position:absolute;
   top:68%;
   left:40%;
   font-size: 7vh;
 }
 .wt{
   width:27%;
   position:absolute;
   top:37%;
   left:35%;
 }
 .shlist{
    background-image: url(images/iamtoo.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    height:700px;
   
 }
.litm{
    display: flex;
   
    margin:0 30px 10px 10px;
    box-decoration-break: disc;
    box-shadow: inset 300px 0 0 0 rgb(255, 255, 255) ;
    border-radius: 1000px;
}
.limg {
    margin-top: 40px;
   margin:7px;
    width: 45px;
    height: 45px;
    border-radius: 50%; 
   
}
.shlist h1{
 color:white;
 text-align: center;
 font-size:50px;
 padding-bottom:40px;
}
.litm h2 {
    color:rgb(0, 0, 0);
    left:40%;
   margin:15px;
  padding:2px;
  
}
.litm:hover{
    box-shadow: inset 300px 0 0 0 rgb(0, 9, 37);
   h2{
    color:white;
   }
}
.shlist a{
    text-decoration: none;
}

 .intro .arrows{
   color:white;
 }
 
 
:root{
    --item1-transform: translateX(-100%) translateY(-5%) scale(1.5);
    --item1-filter: blur(30px);
    --item1-zIndex: 11;
    --item1-opacity: 0;

    --item2-transform: translateX(0);
    --item2-filter: blur(0px);
    --item2-zIndex: 10;
    --item2-opacity: 1;

    --item3-transform: translate(50%,10%) scale(0.8);
    --item3-filter: blur(10px);
    --item3-zIndex: 9;
    --item3-opacity: 1;

    --item4-transform: translate(90%,20%) scale(0.5);
    --item4-filter: blur(30px);
    --item4-zIndex: 8;
    --item4-opacity: 1;
    
    --item5-transform: translate(120%,30%) scale(0.3);
    --item5-filter: blur(40px);
    --item5-zIndex: 7;
    --item5-opacity: 0;
}

.carousel{
   background-image: linear-gradient(rgb(0, 0, 0),rgb(10, 8, 26)); 
    position: relative;

    height: 1000px;
    overflow: hidden;
    top:70%;
}
.carousel .list{
    position: absolute;
    width: 1140px;
    max-width: 90%;
    height: 60%;
    left: 50%;
    transform: translateX(-50%);
}
.carousel .list .item{
    position: absolute;
    left: 0%;
    width: 70%;
    height: 80%;
    font-size: 15px;
    transition: left 0.5s, opacity 0.5s, width 0.5s;
}
.carousel .list .item:nth-child(n + 6){
    opacity: 0;
}
.carousel .list .item:nth-child(2){
    z-index: 10;
    transform: translateX(0);
}
.carousel .list .item img{
    width: 50%;
    position: absolute;
    right: 0;
    top: 80%;
    transform: translateY(-50%);
    transition: right 1.5s;
}

.carousel .list .item .intro{
    opacity: 0;
    pointer-events: none;
}
.carousel .list .item:nth-child(2) .intro{
    opacity: 1;
    pointer-events: auto;
    width: 400px;
    position: absolute;
    top: 80%;
    transform:  translateY(-50%);
    transition: opacity 0.5s;
}
.intro .title{
   color:rgb(87, 87, 177);
   padding-top:2px;
   font-size: 35px;
   font-family: 'Times New Roman', Times, serif;
}
.intro .topic{
   color: rgb(255, 230, 0);
   padding:1px;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.carousel .item .intro{
   justify-content: space-between;
   font-family: fantasy;
}
 .des{
    color: whitesmoke;
    top:110%;
    font-family: sans-serif;
}
.carousel .list .item:nth-child(1){
    transform: var(--item1-transform);
    filter: var(--item1-filter);
    z-index: var(--item1-zIndex);
    opacity: var(--item1-opacity);
    pointer-events: none;
}
.carousel .list .item:nth-child(3){
    transform: var(--item3-transform);
    filter: var(--item3-filter);
    z-index: var(--item3-zIndex);
}
.carousel .list .item:nth-child(4){
    transform: var(--item4-transform);
    filter: var(--item4-filter);
    z-index: var(--item4-zIndex);
}
.carousel .list .item:nth-child(5){
    transform: var(--item5-transform);
    filter: var(--item5-filter);
    opacity: var(--item5-opacity);
    pointer-events: none;
}
/* animation text in item2 */
.carousel .list .item:nth-child(2) .introduce .title,
.carousel .list .item:nth-child(2) .introduce .topic,
.carousel .list .item:nth-child(2) .introduce .des,
.carousel .list .item:nth-child(2) .introduce .seeMore{
    opacity: 0;
    animation: showContent 0.5s 1s ease-in-out 1 forwards;
}
@keyframes showContent{
    from{
        transform: translateY(-30px);
        filter: blur(10px);
    }to{
        transform: translateY(0);
        opacity: 1;
        filter: blur(0px);
    }
}
.carousel .list .item:nth-child(2) .intro.topic{
    animation-delay: 1.2s;
}
.carousel .list .item:nth-child(2) .intro.des{
    animation-delay: 1.4s;
}
.carousel .list .item:nth-child(2) .intro.seeMore{
    animation-delay: 1.6s;
}
/* next click */
.carousel.next .item:nth-child(1){
    animation: transformFromPosition2 0.5s ease-in-out 1 forwards;
}
@keyframes transformFromPosition2{
    from{
        transform: var(--item2-transform);
        filter: var(--item2-filter);
        opacity: var(--item2-opacity);
    }
}
.carousel.next .item:nth-child(2){
    animation: transformFromPosition3 0.7s ease-in-out 1 forwards;
}
@keyframes transformFromPosition3{
    from{
        transform: var(--item3-transform);
        filter: var(--item3-filter);
        opacity: var(--item3-opacity);
    }
}
.carousel.next .item:nth-child(3){
    animation: transformFromPosition4 0.9s ease-in-out 1 forwards;
}
@keyframes transformFromPosition4{
    from{
        transform: var(--item4-transform);
        filter: var(--item4-filter);
        opacity: var(--item4-opacity);
    }
}
.carousel.next .item:nth-child(4){
    animation: transformFromPosition5 1.1s ease-in-out 1 forwards;
}
@keyframes transformFromPosition5{
    from{
        transform: var(--item5-transform);
        filter: var(--item5-filter);
        opacity: var(--item5-opacity);
    }
}
/* previous */
.carousel.prev .list .item:nth-child(5){
    animation: transformFromPosition4 0.5s ease-in-out 1 forwards;
}
.carousel.prev .list .item:nth-child(4){
    animation: transformFromPosition3 0.7s ease-in-out 1 forwards;
}
.carousel.prev .list .item:nth-child(3){
    animation: transformFromPosition2 0.9s ease-in-out 1 forwards;
}
.carousel.prev .list .item:nth-child(2){
    animation: transformFromPosition1 1.1s ease-in-out 1 forwards;
}
@keyframes transformFromPosition1{
    from{
        transform: var(--item1-transform);
        filter: var(--item1-filter);
        opacity: var(--item1-opacity);        
    }
}

/* detail  */
.carousel .list .item .detail{
    opacity: 0;
    pointer-events: none;
}
/* showDetail */
.carousel.showDetail .list .item:nth-child(3),
.carousel.showDetail .list .item:nth-child(4){
    left: 100%;
    opacity: 0;
    pointer-events: none;
}
.carousel.showDetail .list .item:nth-child(2){
    width: 100%;
}
.carousel.showDetail .list .item:nth-child(2) .intro{
    opacity: 0;
    pointer-events: none;
}
.carousel.showDetail .list .item:nth-child(2) img{
    right: 50%;
}
.carousel.showDetail .list .item:nth-child(2) .detail{
    opacity: 1;
    width: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
    pointer-events: auto;
}
.carousel.showDetail .list .item:nth-child(2) .detail .title{
    font-size: 4em;
}
.carousel.showDetail .list .item:nth-child(2) .detail  .title,
.carousel.showDetail .list .item:nth-child(2) .detail  .des{
    opacity: 0;
    animation: showContent 0.5s 1s ease-in-out 1 forwards;
}
.carousel.showDetail .list .item:nth-child(2) .detail  .des{
    animation-delay: 1.2s;
}
.arrows{
    position: absolute;
    top:340%;
        width: 1140px;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
}
#prev,
#next{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-family: monospace;
    border: 1px solid #978a8a55;
    font-size: large;
    bottom: 20%;
    left: 10%;
}
#next{
    left: unset;
    right: 10%;
}
#back{
    position: absolute;
    z-index: 100;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    border-bottom: 1px solid #555;
    font-family: Poppins;
    font-weight: bold;
    letter-spacing: 3px;
    background-color: transparent;
    padding: 10px;
    /* opacity: 0; */
    transition: opacity 0.5s;
}

.carousel::before{
    width: 500px;
    height: 300px;
    content: '';
    background-image: linear-gradient(70deg, #aa503e, blue);
    position: absolute;
    z-index: -1;
    border-radius: 20% 30% 80% 10%;
    filter: blur(150px);
    top: 40%;
    left: 50%;
    transform: translate(-10%, -50%);
    transition: 1s;
}
.abou{
    background: linear-gradient(rgb(10, 8, 26), rgb(9, 69, 126));
     text-align: center;
    height:400px;
    padding-bottom: 500px;
}

.conten {
    margin-left:20%;
    margin-right:20%;
    font-weight: 500;
     background:linear-gradient(to right,rgb(78, 78, 78),rgb(255, 255, 255));
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;
}
.footer {
    
    background: url(images/footer.jfif);
    background-color: rgba(0, 0, 0, 1);
    opacity:1;
    background-size: cover;
    text-align: center;
    padding: 10px;
    height:200px;
  }
  .footer h1{
    padding:10px;
    font-size:20px;
    color:rgb(182, 180, 180)
  }
  .footer p{
    color:rgb(192, 190, 190);
    padding-bottom:10px;
  }
  .pfic img{
    height:2%;
    width:2%;
    border-radius:6px;
    color:black;
  }
  